html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.6rem;
}

.highlight {
  text-transform: uppercase;
  font-weight: 700;
}

$fs-brand: 6.4rem;
$fs-heading: 4.8rem;
$fs-sub-heading: 3.2rem;
$fs-section-heading: 1.8rem;
$fs-content-highlight: 1.7rem;
$fs-text: 1.5rem;
$fs-sub-text: 1.3rem;
